@keyframes Aside-Slide-Out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110%);
  }
}

@keyframes Aside-Slide-In {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  99% {
    transform: rotate(360deg);
  }
}
