$white: #fff;
$gray-050: #F5F7F9;
$gray-100: #F1F4F6;
$gray-200: #EAEEF2;
$gray-300: #DEE5EB;
$gray-400: #D3DBE2;
$gray-500: #ACB6BE;
$gray-600: #8D959C;
$gray-700: #747C84;
$gray-800: #5C6368;
$gray-900: #303336;
$black: #000;

// PALETTE
$colors: (
  white: #ffffff,
  gray-100: $gray-100,
  gray-200: $gray-200,
  gray-300: $gray-300,
  gray-400: $gray-400,
  gray-500: $gray-500,
  gray-600: $gray-600,
  gray-700: $gray-700,
  gray-800: $gray-800,
  gray-900: $gray-900,
  black: $black,

  blue-100: #EFF0FF,
  blue-200: #E4E5FD,
  blue-300: #DEE0FF,
  blue-400: #CED1FF,
  blue-500: #A0A6FF,
  blue-600: #7780FF,
  blue-700: #5A6BFF,
  blue-800: #495BFF,
  blue-900: #3A4DFC,

  green-100: #E8FAEC,
  green-200: #D6F6DD,
  green-300: #BDF3C8,
  green-400: #90E0A2,
  green-500: #77D88D,
  green-600: #5DD177,
  green-700: #16CD40,
  green-800: #0AC234,
  green-900: #04B52C,

  red-100: #FEEFF0,
  red-200: #FCE5E6,
  red-300: #FFD7D9,
  red-400: #FFBBC0,
  red-500: #FFA0A7,
  red-600: #FF858D,
  red-700: #F45B69,
  red-800: #ED4C5B,
  red-900: #DF3948,

  yellow-100: #FEFCEF,
  yellow-200: #FFFAE1,
  yellow-300: #FFF8D3,
  yellow-400: #FFF5BE,
  yellow-500: #FFEE94,
  yellow-600: #F9E47A,
  yellow-700: #F6DE5C,
  yellow-800: #F3D537,
  yellow-900: #ECC913
);

// THEMES
$theme-base: (
  bg100:   map-get($colors, gray-100),
  bg200:   map-get($colors, gray-200),
  bg300:   map-get($colors, gray-300),
  
  bg700:   map-get($colors, gray-700),
  bg800:   map-get($colors, gray-800),
  bg900:   map-get($colors, gray-900),

  textMain:         map-get($colors, gray-900),
  textLabel:        map-get($colors, gray-700),
  textMuted:        map-get($colors, gray-600),
  textPlaceholder:  map-get($colors, gray-500),
  textDisabled:     map-get($colors, gray-400),
  textInverted:     map-get($colors, white),

  border: map-get($colors, gray-200),
  outline: map-get($colors, gray-700),
  
  focus: map-get($colors, gray-700),
);

$theme-primary: (
  bg100:   map-get($colors, blue-100),
  bg200:   map-get($colors, blue-200),
  bg300:   map-get($colors, blue-300),
  
  bg700:   map-get($colors, blue-700),
  bg800:   map-get($colors, blue-800),
  bg900:   map-get($colors, blue-900),

  textMain:        map-get($colors, blue-900),
  textLabel:       map-get($colors, blue-700),
  textMuted:       map-get($colors, blue-600),
  textPlaceholder: map-get($colors, blue-500),
  textDisabled:    map-get($colors, blue-400),
  textInverted:    map-get($colors, white),

  border: map-get($colors, blue-200),
  outline: map-get($colors, blue-700),
  
  focus: map-get($colors, blue-700),
);

$theme-success: (
  bg100:   map-get($colors, green-100),
  bg200:   map-get($colors, green-200),
  bg300:   map-get($colors, green-300),
  
  bg700:   map-get($colors, green-700),
  bg800:   map-get($colors, green-800),
  bg900:   map-get($colors, green-900),

  textMain:        map-get($colors, green-900),
  textLabel:       map-get($colors, green-700),
  textMuted:       map-get($colors, green-600),
  textPlaceholder: map-get($colors, green-500),
  textDisabled:    map-get($colors, green-400),
  textInverted:    map-get($colors, white),

  border: map-get($colors, green-200),
  outline: map-get($colors, green-700),
  
  focus: map-get($colors, green-700),
);

$theme-danger: (
  bg100:   map-get($colors, red-100),
  bg200:   map-get($colors, red-200),
  bg300:   map-get($colors, red-300),
  
  bg700:   map-get($colors, red-700),
  bg800:   map-get($colors, red-800),
  bg900:   map-get($colors, red-900),

  textMain:        map-get($colors, red-900),
  textLabel:       map-get($colors, red-700),
  textMuted:       map-get($colors, red-600),
  textPlaceholder: map-get($colors, red-500),
  textDisabled:    map-get($colors, red-400),
  textInverted:    map-get($colors, white),

  border: map-get($colors, red-200),
  outline: map-get($colors, red-700),
  
  focus: map-get($colors, red-700),
);

$theme-warning: (
  bg100:   map-get($colors, yellow-100),
  bg200:   map-get($colors, yellow-200),
  bg300:   map-get($colors, yellow-300),
  
  bg700:   map-get($colors, yellow-700),
  bg800:   map-get($colors, yellow-800),
  bg900:   map-get($colors, yellow-900),

  textMain:        map-get($colors, yellow-900),
  textLabel:       map-get($colors, yellow-700),
  textMuted:       map-get($colors, yellow-600),
  textPlaceholder: map-get($colors, yellow-500),
  textDisabled:    map-get($colors, yellow-400),
  textInverted:    map-get($colors, white),

  border: map-get($colors, yellow-200),
  outline: map-get($colors, yellow-700),
  
  focus: map-get($colors, yellow-700),
);
