@import "src/styles/global";

.Gallery {
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  .GalleryBackdrop {
    position: absolute;
    z-index: $zindex-fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .GalleryContent {
    position: absolute;
    z-index: $zindex-fixed;
    top: 4rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 3 * $border-radius 3 * $border-radius 0 0;
    overflow-y: scroll;
  }

  .GalleryClose {
    color: map-get($theme-base, textInverted);
    font-size: 1.5rem;
    line-height: 1;
    position: absolute;
    z-index: $zindex-fixed + 1;
    top: 1.25rem;
    right: 0.5rem;
    cursor: pointer;
  }
}
